# Proyecto: Clustering y clasificación de Clientes

<p>
Alumno: Martin Adrian Ferraguti <br>
Comisión: 60880 <br>
Curso: Data Science II: Machine Learning para la Ciencia de Datos <br>
</p>

### 1) Definición del objetivo:
El presente proyecto tiene por objetivo:
1- Realizar una clusterizacion o segmentación de clientes utilizando para ello la base de datos provista por la empresa “Ficticia” la cual pertenece al rubro de supermercados.
2- Intentar predecir la intención de compra de cada cliente.

Esto nos permitira:
- Determinar la importancia de cada segmento para el negocio.
- Modificar la oferta de producto para que se adapten a las necesidades de cada cliente.
- Entender las necesidades e inquietudes de los clientes.
- Optimizar las campañas de marketing concentrnado esfuerzo sobre aquellos clientes con mayor probabilidad de compra.<br>

### 2) Definición del contexto comercial:
El presente proyecto se solicita en medio de un contexto socioeconómico general muy apremiante el cual está obligando a la empresa a tomar decisiones comerciales estratégicas, valiéndose para ello de la  información que ya tiene relevada de sus clientes y sus hábitos de consumo como un mecanismo para incrementar sus ventas por medio de procesos de marketing..<br>

### 3) Definición del problema comercial:
Realizar una segmentación de la cartera de clientes en función de sus hábitos de consumo de forma tal que resulte de utilidad al área de marketing para el desarrollo de campañas publicitarias.<br>

### 4) Data Acquisition:
.<br>

In [4]:
import pandas as pd

In [14]:
url = 'https://raw.githubusercontent.com/chetincho/proyecto_data_science_ii/main/dataset/marketing_campaign.csv'

In [20]:
df = pd.read_csv(url, encoding='latin1', delimiter=';')

In [23]:
df.head(100)

,id_cliente,año_nac,educacion,estado_civil,ingresos_usd,cant_niños_casa,cant_adolecentes_casa,fch_alta_cliente,dias_ult_compra,gasto_total_vinos,...,cant_visitas_web_mes,campaña_mkt_1,campaña_mkt_2,campaña_mkt_3,campaña_mkt_4,campaña_mkt_5,quejas,id_base_contacto,cod_retorno_esperado,respuestas
0,5524,1957,Universitario,Soltero,58138.0,0,0,4/9/2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Universitario,Soltero,46344.0,1,1,8/3/2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Universitario,En pareja,71613.0,0,0,21/8/2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Universitario,En pareja,26646.0,1,0,10/2/2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,Doctorado,Casado,58293.0,1,0,19/1/2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,7516,1983,Universitario,Casado,30096.0,1,0,22/5/2014,30,5,...,6,0,0,0,0,0,0,3,11,0
96,7247,1960,Universitario,Viudo,47916.0,0,1,22/11/2012,72,505,...,6,0,0,0,1,0,0,3,11,0
97,11100,1972,Universitario,Divorciado,51813.0,1,1,11/4/2013,37,51,...,7,0,0,0,0,0,0,3,11,0
98,4646,1951,Secundario,Casado,78497.0,0,0,1/12/2013,44,207,...,2,1,0,0,0,0,0,3,11,0
99,3037,1983,Doctorado,Casado,50150.0,0,0,20/6/2013,32,135,...,5,0,0,0,0,0,0,3,11,0