# Proyecto: Clustering y clasificación de Clientes

<p>
Alumno: Martin Adrian Ferraguti <br>
Comisión: 60880 <br>
Curso: Data Science II: Machine Learning para la Ciencia de Datos <br>
</p>

### Definición del objetivo:
El presente proyecto tiene por objetivo: <br>
1- Realizar la clusterización o segmentación de la base de clientes de la empresa “Ficticia” la cual pertenece al rubro de supermercados.<br>
2- Intentar predecir la intención de compra de cada cliente.<br>

Esto nos permitirá:<br>
- Determinar la importancia de cada segmento de cliente para el negocio.<br>
- Modificar la oferta de producto para que se adapten a las necesidades de estos.<br>
- Entender sus necesidades e inquietudes.<br>
- Optimizar las campañas de marketing concentrando esfuerzo sobre aquellos clientes que tengan mayor probabilidad de compra.<br>

### Definición del contexto comercial:
El presente proyecto se solicita en medio de un contexto socioeconómico general muy apremiante el cual está obligando a la empresa a tomar decisiones comerciales estratégicas, valiéndose para ello de la  información que ya tiene relevada de sus clientes y sus hábitos de consumo como un mecanismo para incrementar sus ventas por medio de procesos de marketing.<br>

### Definición del problema comercial:
Realizar la clusterización o segmentación de la cartera de clientes en función de sus hábitos de consumo y determinar la intención de compra de nuevos compradores de forma tal que resulte de utilidad al área de marketing para el desarrollo de campañas publicitarias.<br>

### Librerías utilizadas

In [1]:
import pandas as pd

C:\Users\marti\AppData\Local\Temp\ipykernel_6080\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### Data Acquisition [Big Data Value Chain]
Los datos son provistos por el data engineer en jefe de la empresa, el sr. Juan Carlos Anonimo. Dichos datos serán publicados automáticamente todos los lunes a las 09:50 hs hora Argentina, momento en el cual estarán disponibles para su consumo.<br>
- Directorio de publicacion: github.com/datasets/data_acquisition/<br>
- Nombre del archivo: data.csv<br>
- Separador de columnas: punto y coma (;)<br>
<br>
Adicional se adjuntan los datos de contacto del referente del área.<br>
Email: juancarlosanonimo@ficticia.com.ar<br>
Horario laboral: de lunes a viernes de 09:00 a 17:00 hs<br>

In [9]:
url = 'https://raw.githubusercontent.com/chetincho/proyecto_data_science_ii/main/dataset/data_acquisition/data.csv'
df = pd.read_csv(url, encoding='latin1', delimiter=';')
df.head()

,id_cliente,año_nac,educacion,estado_civil,ingresos_usd,cant_niños_casa,cant_adolecentes_casa,fch_alta_cliente,dias_ult_compra,gasto_total_vinos,...,cant_visitas_web_mes,campaña_mkt_1,campaña_mkt_2,campaña_mkt_3,campaña_mkt_4,campaña_mkt_5,quejas,id_base_contacto,cod_retorno_esperado,respuestas
0,5524,1957,Universitario,Soltero,58138.0,0,0,4/9/2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Universitario,Soltero,46344.0,1,1,8/3/2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Universitario,En pareja,71613.0,0,0,21/8/2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Universitario,En pareja,26646.0,1,0,10/2/2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,Doctorado,Casado,58293.0,1,0,19/1/2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [10]:
df.tail()

,id_cliente,año_nac,educacion,estado_civil,ingresos_usd,cant_niños_casa,cant_adolecentes_casa,fch_alta_cliente,dias_ult_compra,gasto_total_vinos,...,cant_visitas_web_mes,campaña_mkt_1,campaña_mkt_2,campaña_mkt_3,campaña_mkt_4,campaña_mkt_5,quejas,id_base_contacto,cod_retorno_esperado,respuestas
2235,10870,1967,Universitario,Casado,61223.0,0,1,13/6/2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,Doctorado,En pareja,64014.0,2,1,10/6/2014,56,406,...,7,1,0,0,0,0,0,3,11,0
2237,7270,1981,Universitario,Divorciado,56981.0,0,0,25/1/2014,91,908,...,6,0,0,0,1,0,0,3,11,0
2238,8235,1956,Licenciado,En pareja,69245.0,0,1,24/1/2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,Doctorado,Casado,52869.0,1,1,15/10/2012,40,84,...,7,0,0,0,0,0,0,3,11,1

💡 *Conclusión:* La carga inicial de los datos ha sido exitosa, se reporta que el origen de los datos cuenta con 29 atributos los cuales coinciden con las 29 columnas reportadas en el dataframe.

### Exploratory Data Analysis (EDA)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id_cliente                  2240 non-null   int64
 1   año_nac                     2240 non-null   int64
 2   educacion                   2240 non-null   object
 3   estado_civil                2240 non-null   object
 4   ingresos_usd                2216 non-null   float64
 5   cant_niños_casa             2240 non-null   int64
 6   cant_adolecentes_casa       2240 non-null   int64
 7   fch_alta_cliente            2240 non-null   object
 8   dias_ult_compra             2240 non-null   int64
 9   gasto_total_vinos           2240 non-null   int64
 10  gasto_total_frutas          2240 non-null   int64
 11  gasto_total_carnes_rojas    2240 non-null   int64
 12  gasto_total_carnes_blancas  2240 non-null   int64
 13  gasto_total_dulces          2240 non-null   int64
 14  gasto_total_enlatados       2240 non-null   int64
 15  cant_compras_oferta         2240 non-null   int64
 16  cant_compras_web            2240 non-null   int64
 17  cant_compras_por_catalogo   2240 non-null   int64
 18  cant_compras_en_tienda      2240 non-null   int64
 19  cant_visitas_web_mes        2240 non-null   int64
 20  campaña_mkt_1               2240 non-null   int64
 21  campaña_mkt_2               2240 non-null   int64
 22  campaña_mkt_3               2240 non-null   int64
 23  campaña_mkt_4               2240 non-null   int64
 24  campaña_mkt_5               2240 non-null   int64
 25  quejas                      2240 non-null   int64
 26  id_base_contacto            2240 non-null   int64
 27  cod_retorno_esperado        2240 non-null   int64
 28  respuestas                  2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

💡 *Conclusión:* Se detectan los siguientes incidentes en los datos importados.
- 24 registros con valores nulos sobre el atributo "ingresos_usd".
- 7 desvíos entre el tipo de datos esperado y el importado para los siguientes atributos.
<br>

| Columna                   |Tipo esperado | Tipo importado |
|:---------------------------|--------------|----------------|
|fch_alta_cliente           |datetime      |object          |
|gasto_total_vinos          |float64       |int64           |
|gasto_total_frutas         |float64       |int64           |
|gasto_total_carnes_rojas   |float64       |int64           |
|gasto_total_carnes_blancas |float64       |int64           |
|gasto_total_dulces         |float64       |int64           |
|gasto_total_enlatados      |float64       |int64           |

In [4]:
df.describe()

,id_cliente,año_nac,ingresos_usd,cant_niños_casa,cant_adolecentes_casa,dias_ult_compra,gasto_total_vinos,gasto_total_frutas,gasto_total_carnes_rojas,gasto_total_carnes_blancas,...,cant_visitas_web_mes,campaña_mkt_1,campaña_mkt_2,campaña_mkt_3,campaña_mkt_4,campaña_mkt_5,quejas,id_base_contacto,cod_retorno_esperado,respuestas
count,2240.000000,2240.000000,2216.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,...,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.0,2240.0,2240.000000
mean,5592.159821,1968.805804,52247.251354,0.444196,0.506250,49.109375,303.935714,26.302232,166.950000,37.525446,...,5.316518,0.064286,0.013393,0.072768,0.074554,0.072768,0.009375,3.0,11.0,0.149107
std,3246.662198,11.984069,25173.076661,0.538398,0.544538,28.962453,336.597393,39.773434,225.715373,54.628979,...,2.426645,0.245316,0.114976,0.259813,0.262728,0.259813,0.096391,0.0,0.0,0.356274
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
25%,2828.250000,1959.000000,35303.000000,0.000000,0.000000,24.000000,23.750000,1.000000,16.000000,3.000000,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
50%,5458.500000,1970.000000,51381.500000,0.000000,0.000000,49.000000,173.500000,8.000000,67.000000,12.000000,...,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
75%,8427.750000,1977.000000,68522.000000,1.000000,1.000000,74.000000,504.250000,33.000000,232.000000,50.000000,...,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,...,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000