# Proyecto: Clustering y clasificación de Clientes

<p>
Alumno: Martin Adrian Ferraguti <br>
Comisión: 60880 <br>
Curso: Data Science II: Machine Learning para la Ciencia de Datos <br>
</p>

### Definición del objetivo:
El presente proyecto tiene por objetivo: <br>
1- Realizar la clusterización o segmentación de la base de clientes de la empresa “Ficticia” la cual pertenece al rubro de supermercados.<br>
2- Intentar predecir la intención de compra de cada cliente.<br>

Esto nos permitirá:<br>
- Determinar la importancia de cada segmento de cliente para el negocio.<br>
- Modificar la oferta de producto para que se adapten a las necesidades de estos.<br>
- Entender sus necesidades e inquietudes.<br>
- Optimizar las campañas de marketing concentrando esfuerzo sobre aquellos clientes que tengan mayor probabilidad de compra.<br>

### Definición del contexto comercial:
El presente proyecto se solicita en medio de un contexto socioeconómico general muy apremiante el cual está obligando a la empresa a tomar decisiones comerciales estratégicas, valiéndose para ello de la  información que ya tiene relevada de sus clientes y sus hábitos de consumo como un mecanismo para incrementar sus ventas por medio de procesos de marketing.<br>

### Definición del problema comercial:
Realizar la clusterización o segmentación de la cartera de clientes en función de sus hábitos de consumo y determinar la intención de compra de nuevos compradores de forma tal que resulte de utilidad al área de marketing para el desarrollo de campañas publicitarias.<br>

### Librerías utilizadas

In [1]:
import pandas as pd

C:\Users\marti\AppData\Local\Temp\ipykernel_13616\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### Data Acquisition [Big Data Value Chain]
Los datos son provistos por el data engineer en jefe de la empresa, el sr. Juan Carlos Anonimo. Dichos datos serán publicados automáticamente todos los lunes a las 09:50 hs hora Argentina, momento en el cual estarán disponibles para su consumo.<br>
- Directorio de publicacion: github.com/datasets/data_acquisition/<br>
- Nombre del archivo: data.csv<br>
- Separador de columnas: punto y coma (;)<br>
<br>
Adicional se adjuntan los datos de contacto del referente del área.<br>
Email: juancarlosanonimo@ficticia.com.ar<br>
Horario laboral: de lunes a viernes de 09:00 a 17:00 hs<br>

In [2]:
url = 'https://raw.githubusercontent.com/chetincho/proyecto_data_science_ii/main/dataset/data_acquisition/data.csv'
df = pd.read_csv(url, encoding='latin1', delimiter=';')
df.head()

,id_cliente,año_nac,educacion,estado_civil,ingresos_usd,cant_niños_casa,cant_adolecentes_casa,fch_alta_cliente,dias_ult_compra,gasto_total_vinos,...,cant_visitas_web_mes,campaña_mkt_1,campaña_mkt_2,campaña_mkt_3,campaña_mkt_4,campaña_mkt_5,quejas,id_base_contacto,cod_retorno_esperado,respuestas
0,5524,1957,Universitario,Soltero,58138.0,0,0,4/9/2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Universitario,Soltero,46344.0,1,1,8/3/2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Universitario,En pareja,71613.0,0,0,21/8/2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Universitario,En pareja,26646.0,1,0,10/2/2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,Doctorado,Casado,58293.0,1,0,19/1/2014,94,173,...,5,0,0,0,0,0,0,3,11,0